<script>
  $(function() {
    var initSortableUi = function(model_singular, model_plural) {
      $('.' + model_plural).sortable({
        update: function( event, ui ) {
          $.ajax({
            type: 'PUT',
            url: ui.item.data('update-url'),
            dataType: 'json',
            data: { [model_singular]: { row_order_position: ui.item.index() } }
          });
        }
      });
    }
    initSortableUi('section', 'sections')
    initSortableUi('lesson',  'lessons')
  });
</script>

<br />
<div class="qx-section-box qx-width-md">
  <h1 class="text-center"><%= current_course.title %></h1>
  <%= image_tag current_course.image.url, class: 'img-fluid' if current_course.image.file %>
  <br />
  <%= link_to 'Preview as Student...',
    course_path(current_course),
    class: 'btn btn-warning float-right' %>
  <br class="qx-clear"/>

  <div class="text-center">
    <%= link_to 'Add a new section...',
      new_instructor_course_section_path(current_course),
      class: 'btn btn-primary btn-lg' %>
  </div>

  <ul class="sections">
    <% current_course.sections.rank(:row_order).each do |section| %>
      <li data-update-url="<%= instructor_section_path section %>" class="section-li">
        <div class="header float-left">
          <%= icon('fas', 'ellipsis-v') %>
          <%= section.title %>
        </div>
        <%= link_to 'New Lesson',
          new_instructor_section_lesson_path(section),
          class: 'float-right btn btn-primary btn-sm' %>
          <br class="qx-clear"/>
          <br class="qx-clear"/>
        <ul class="lessons">
          <% section.lessons.rank(:row_order).each do |lesson| %>
            <li data-update-url="<%= instructor_lesson_path lesson %>">
              <div class="row">
                <div class="col-1">
                  <%= icon('fas', 'ellipsis-v') %>
                </div>
                <div class="col-11 text-center">
                  <p>
                    <b><%= lesson.title %></b>
                  </p>
                  <p>
                    <%= lesson.subtitle %>
                  </p>
                </div>
              </div>
              <br class="qx-clear"/>
            </li>
          <% end %>
        </ul>
        <br class="qx-clear"/>
      </li>
    <% end %>
  </ul>

</div>
